@import "tailwindcss";
*{
  font-family: "Quicksand", sans-serif;
}
body{
  
  background: linear-gradient(135deg , rgb(243, 100, 5),rgb(245, 242, 242), rgb(55, 136, 5));
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}